<h1>Dashboard</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Info</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <th scope ="row">Categories</th>
      <td><a href="/"><%= @category.count %></a></td>
    </tr>
    <tr class="table-info">
      <th scope ="row">Products</th>
      <td><a href="/"><%= @products.count %></a></td>
    </tr>
  </tbody>
</table>