<header class="page-header">
<div class="intro">
  <p>
    Welcome to the jungle! We sell a variet of plants based out of the tropical jungle itself!
  </p>
  <p>
    Locally sourced delivered straight to your door via worldwide shipping.
  </p>
</div>
</header>